@import "tailwindcss";

:root {
  --background: #D1C4E9;
  --foreground: #171717;

  /* Colores claros */
  --menu-bg-light: #ffffff;
  --menu-text-light: #262626;
  --menu-hover-light: #f5f5f5;
  --menu-selected-light: #e6f7ff;
  --menu-border-light: #d9d9d9;

  /* Colores oscuros */
  --menu-bg-dark: #FFF9C4 ;
  --menu-text-dark: #171717;
  --menu-hover-dark: #D1C4E9;
  --menu-text-hover-dark: #171717;
  --menu-selected-dark: #B3E5FC;
  --menu-text-selected-dark: #171717 ;
  --menu-border-dark: #424242;

  /* Colores primarios */
  --primary-color: #FFF9C4 ;
  --primary-hover: #B3E5FC;
  --secondary-hover: #D1C4E9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Aplicar tema al menú */
.ant-menu {
  border-right: none !important;
}

.ant-menu-light {
  background: var(--menu-bg-light) !important;
}

.ant-menu-dark {
  background: var(--menu-bg-dark) !important;
}

.ant-menu-light .ant-menu-item {
  color: var(--menu-text-light) !important;
  border-radius: 8px;
  margin: 4px 8px;
}

.ant-menu-dark .ant-menu-item {
  color: var(--menu-text-dark) !important;
  border-radius: 8px;
  margin: 4px 8px;
}

.ant-menu-light .ant-menu-item:hover {
  color: var(--menu-hover-light) !important;
  background: var(--menu-hover-light) !important;
}

.ant-menu-dark .ant-menu-item:hover {
  color: var( --menu-text-hover-dark) !important;
  background: var(--menu-hover-dark) !important;
}

.ant-menu-light .ant-menu-item-selected {
  color: var(--primary-hover) !important;
  background: var(--menu-selected-light) !important;
  font-weight: 600;
}

.ant-menu-dark .ant-menu-item-selected {
  color: var(--menu-text-selected-dark) !important;
  background: var(--menu-selected-dark) !important;
  font-weight: 600;
}

.ant-menu-dark .ant-menu-sub .ant-menu-item {
  background: var(--menu-bg-dark) !important;
  color: var(--menu-text-dark) !important;
  border-radius: 8px;
  margin: 4px 8px;
}
.ant-menu-dark .ant-menu-submenu-title {
  background: var(--menu-hover-dark) !important;
  color: var(--menu-text-dark) !important;
  border-radius: 8px;
  margin: 4px 8px;
}


.ant-menu-dark .ant-menu-sub .ant-menu-item:hover {
  color: var( --menu-text-hover-dark) !important;
  background: var(--menu-hover-dark) !important;
}

.ant-menu-dark .ant-menu-sub .ant-menu-item-selected {
  color: var(--menu-text-selected-dark) !important;
  background: var(--menu-selected-dark) !important;
  font-weight: 600;
}
 
.ant-menu-dark .ant-menu-submenu  .ant-menu-sub{
   background: var(--menu-bg-dark) !important;
}

.ant-layout-sider{
   background: var(--primary-color) !important;
}
.ant-menu-sub.ant-menu-inline{
   background: var(--secondary-hover) !important;
}

 .main-header{
   background: var(--primary-hover) !important;
   padding: 0;
}
 
 

 
.card-work-address .ant-card-body{
padding: 3px !important;

}
.custom-spin .ant-spin-dot-item {
  background-color: #97161a; 
}